.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

html {
    background: #e0e0e0;
    color: #222;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 130%;
}

button, .button {
    display: inline-block;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #b3b3b3;
    background: transparent;
    color: #777;
    text-decoration: none;
    font-size: 80%;
    cursor: pointer;
}

button:hover, .button:hover {
    border-color: #888;
    background: rgba(0, 0, 0, 0.1);
}

button:active, .button:active {
    border-color: #666;
    background: #666;
    color: #fff;
}

form input, form textarea, form select {
    box-sizing: border-box;
    padding: 10px 20px;
    width: 100%;
    outline: none;
    border: 1px solid #b3b3b3;
    background: #fff;
}

form textarea {
    padding: 10px 12px;
}

form input:active, form input:focus,
form textarea:active, form textarea:focus,
form select:active, form select:focus {
    /* border-color: #444; */
    padding: 9px 19px;
    border-width: 2px;
    border-color: #888;
}

.container {
    box-sizing: border-box;

    margin: 0 auto;
    padding: 40px;

    width: 1024px;

    background: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.logo {
    margin-bottom: 30px;
}

.header {
    padding: 3px;
    background: #f72133;
}

.template-selector {
    display: inline-block;
    padding: 20px 25px;
    background: #fff;
}

.template-selector h1 {
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle;
}

.format-selector {
    display: inline-block;
    margin-left: 20px;

    vertical-align: middle;

    -webkit-user-select: none;
}

.format-button {
    display: inline-block;
    margin-left: 10px;
    width: 39px;
    height: 48px;

    background: url(img/format-icons.png);

    cursor: pointer;
}

.format-button.format-pdf {
    background-position: 0px 0px;
}

.format-button.format-pdf.active {
    background-position: 0px -48px;
}

.format-button.format-pdf:active {
    background-position: 0px -48px;
}

.format-button.format-rtf {
    background-position: -39px 0px;
}

.format-button.format-rtf.active {
    background-position: -39px -48px;
}

.format-button.format-rtf:active {
    background-position: -39px -48px;
}

.format-button.format-docx {
    background-position: -78px 0px;
}

.format-button.format-docx.active {
    background-position: -78px -48px;
}

.format-button.format-docx:active {
    background-position: -78px -48px;
}

.download {
    float: right;
    margin-top: 20px;
    margin-right: 40px;
    padding: 6px 12px;

    border-color: #fff;

    color: #fff;
    font-size: 120%;
}

.download:hover {
    border-color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.download:active {
    border-color: #fff;
    background: #fff;
    color: #f72133;
}

.footer {
    margin-top: 20px;
    padding: 30px 40px;

    background: #1c1c1c;
    color: #fff;
}

.footer a {
    color: #fff;
}

.footer .help-link {
    float: right;
}

form {
    margin: 0 auto;
    width: 660px;
}

fieldset {
    margin-bottom: 30px;
    padding: 30px 0 0px;
    border-top: 1px dotted #3f3f3f;
}

fieldset:first-of-type {
    margin-top: 30px;
    border: none;
}

h3 {
    margin-bottom: 30px;
    font-weight: bold;
}

p {
    margin-bottom: 20px;
}

.form-table {
}

.form-table td, .form-table th {
    padding: 0 20px 20px 0;
}

.form-table td:last-child, .form-table th:last-child {
    padding-right: 0;
}

.form-table th {
    width: 130px;
    white-space: nowrap;
}

.form-table th.narrow {
    width: auto;
}

.form-table .long {
    width: 400px;
}

.form-table.fill {
    width: 100%;
}

.doctemplates {
    margin: 0 -16px -30px;
}

.doctemplate-chooser {
    padding: 20px;
    background: #f0f0f0;
}

.doctemplate-chooser h1 {
    margin-bottom: 30px;
    padding: 20px;
    background: #fff;
}

.doctemplate {
    float: left;

    margin: 0 16px 30px;
    width: 202px;

    color: #222;
    text-align: center;
    text-decoration: none;
    font-size: 90%;

}

.doctemplate img {
    display: block;
    margin-bottom: 10px;

    border: 1px solid transparent;
}

.doctemplate:hover img {
    border-color: #b3b3b3;
    box-shadow: 3px 5px #cfcfcf;
}

.doctemplate:active img {
    position: relative;
    /* box-shadow: 3px 5px #aaa; */
    top: 5px;
    left: 3px;
    border-color: #888;
    box-shadow: none;
}

.template {
    display: none;
}

fieldset {
    position: relative;
}

.clone-link {
    display: block;
    margin-top: -20px;
    margin-bottom: 20px;
}

.clone-delete {
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 0 5px;

    color: #777;

    text-decoration: none;

    font-size: 20px;
    cursor: pointer;
}

.ui-widget {
    font-size: 13px;
}