/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/
.cke_reset {
    position: static;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    border: 0;
    background: transparent;
    vertical-align: baseline;
    text-decoration: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none
}

.cke_reset_all, .cke_reset_all * {
    position: static;
    float: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    border: 0;
    border-collapse: collapse;
    background: transparent;
    color: #000;
    vertical-align: baseline;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    font: normal normal normal 12px Arial, Helvetica, Tahoma, Verdana, Sans-Serif;
    cursor: auto;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none
}

.cke_reset_all .cke_rtl * {
    text-align: right
}

.cke_reset_all iframe {
    vertical-align: inherit
}

.cke_reset_all textarea {
    white-space: pre
}

.cke_reset_all textarea, .cke_reset_all input[type="text"], .cke_reset_all input[type="password"] {
    cursor: text
}

.cke_reset_all textarea[disabled], .cke_reset_all input[type="text"][disabled], .cke_reset_all input[type="password"][disabled] {
    cursor: default
}

.cke_reset_all fieldset {
    padding: 10px;
    border: 2px groove #e0dfe3
}

.cke_reset_all select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.cke_chrome {
    display: block;
    padding: 0;
    border: 1px solid #b6b6b6;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    box-shadow: 0 0 3px rgba(0, 0, 0, .15)
}

.cke_inner {
    display: block;
    padding: 0;
    background: #fff;
    -webkit-touch-callout: none
}

.cke_float {
    border: 0
}

.cke_float .cke_inner {
    padding-bottom: 0
}

.cke_top, .cke_contents, .cke_bottom {
    display: block;
    overflow: hidden
}

.cke_top {
    padding: 6px 8px 2px;
    border-bottom: 1px solid #b6b6b6;
    background: #cfd1cf;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#cfd1cf));
    background-image: -moz-linear-gradient(top, #f5f5f5, #cfd1cf);
    background-image: -webkit-linear-gradient(top, #f5f5f5, #cfd1cf);
    background-image: -o-linear-gradient(top, #f5f5f5, #cfd1cf);
    background-image: -ms-linear-gradient(top, #f5f5f5, #cfd1cf);
    background-image: linear-gradient(top, #f5f5f5, #cfd1cf);
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    white-space: normal;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#f5f5f5', endColorstr='#cfd1cf')
}

.cke_float .cke_top {
    border: 1px solid #b6b6b6;
    border-bottom-color: #999
}

.cke_bottom {
    position: relative;
    padding: 6px 8px 2px;
    border-top: 1px solid #bfbfbf;
    background: #cfd1cf;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#cfd1cf));
    background-image: -moz-linear-gradient(top, #ebebeb, #cfd1cf);
    background-image: -webkit-linear-gradient(top, #ebebeb, #cfd1cf);
    background-image: -o-linear-gradient(top, #ebebeb, #cfd1cf);
    background-image: -ms-linear-gradient(top, #ebebeb, #cfd1cf);
    background-image: linear-gradient(top, #ebebeb, #cfd1cf);
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#ebebeb', endColorstr='#cfd1cf')
}

.cke_browser_ios .cke_contents {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.cke_resizer {
    overflow: hidden;
    overflow: hidden;
    margin-top: 6px;
    margin-bottom: 2px;
    width: 0;
    width: 0;
    height: 0;
    height: 0;
    border-width: 10px 10px 0 0;
    border-style: dashed solid dashed dashed;
    border-color: transparent #666 transparent transparent;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .3);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .3);
    vertical-align: bottom;
    font-size: 0
}

.cke_hc .cke_resizer {
    width: auto;
    height: auto;
    border-width: 0;
    font-size: 15px
}

.cke_resizer_ltr {
    float: right;
    margin-right: -4px;
    cursor: se-resize
}

.cke_resizer_rtl {
    right: auto;
    float: left;
    margin-left: -4px;
    border-width: 10px 0 0 10px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #a5a5a5;
    cursor: sw-resize
}

.cke_wysiwyg_div {
    display: block;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 8px;
    height: 100%;
    outline-style: none
}

.cke_panel {
    visibility: visible;
    overflow: hidden;
    width: 120px;
    height: 100px;
    border: 1px solid #b6b6b6;
    border-bottom-color: #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    box-shadow: 0 0 3px rgba(0, 0, 0, .15)
}

.cke_menu_panel {
    margin: 0;
    padding: 0
}

.cke_combopanel {
    width: 150px;
    height: 170px
}

.cke_panel_frame {
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-size: 12px
}

.cke_panel_container {
    overflow-x: hidden;
    overflow-y: auto
}

.cke_panel_list {
    margin: 3px;
    padding: 0;
    list-style-type: none;
    white-space: nowrap
}

.cke_panel_listItem {
    margin: 0;
    padding-bottom: 1px
}

.cke_panel_listItem a {
    display: block;
    overflow: hidden;
    padding: 3px 4px;
    border: 1px solid #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: inherit !important;
    text-decoration: none;
    text-overflow: ellipsis
}

* html .cke_panel_listItem a {
    width: 100%;
    color: #000
}

*:first-child + html .cke_panel_listItem a {
    color: #000
}

.cke_panel_listItem.cke_selected a {
    border: 1px solid #dedede;
    background-color: #f2f2f2;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .1) inset;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .1) inset;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1) inset
}

.cke_panel_listItem a:hover, .cke_panel_listItem a:focus, .cke_panel_listItem a:active {
    border-color: #dedede;
    background-color: #f2f2f2;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .1) inset;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .1) inset;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1) inset
}

.cke_hc .cke_panel_listItem a {
    border-style: none
}

.cke_hc .cke_panel_listItem a:hover, .cke_hc .cke_panel_listItem a:focus, .cke_hc .cke_panel_listItem a:active {
    padding: 1px 2px;
    border: 2px solid
}

.cke_panel_grouptitle {
    margin: 0;
    padding: 4px 6px;
    border-bottom: 1px solid #b6b6b6;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    background: #cfd1cf;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#cfd1cf));
    background-image: -moz-linear-gradient(top, #f5f5f5, #cfd1cf);
    background-image: -webkit-linear-gradient(top, #f5f5f5, #cfd1cf);
    background-image: -o-linear-gradient(top, #f5f5f5, #cfd1cf);
    background-image: -ms-linear-gradient(top, #f5f5f5, #cfd1cf);
    background-image: linear-gradient(top, #f5f5f5, #cfd1cf);
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    color: #474747;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    white-space: nowrap;
    font-weight: bold;
    font-size: 11px;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#f5f5f5', endColorstr='#cfd1cf');
    cursor: default
}

.cke_panel_listItem p, .cke_panel_listItem h1, .cke_panel_listItem h2, .cke_panel_listItem h3, .cke_panel_listItem h4, .cke_panel_listItem h5, .cke_panel_listItem h6, .cke_panel_listItem pre {
    margin-top: 0;
    margin-bottom: 0
}

.cke_colorblock {
    padding: 3px;
    font-size: 11px;
    font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif
}

.cke_colorblock, .cke_colorblock a {
    color: #000;
    text-decoration: none
}

span.cke_colorbox {
    float: left;
    width: 10px;
    height: 10px;
    border: #808080 1px solid
}

.cke_rtl span.cke_colorbox {
    float: right
}

a.cke_colorbox {
    float: left;
    padding: 2px;
    width: 12px;
    height: 12px;
    border: #fff 1px solid
}

.cke_rtl a.cke_colorbox {
    float: right
}

a:hover.cke_colorbox, a:focus.cke_colorbox, a:active.cke_colorbox {
    border: #b6b6b6 1px solid;
    background-color: #e5e5e5
}

a.cke_colorauto, a.cke_colormore {
    display: block;
    padding: 2px;
    border: #fff 1px solid;
    cursor: pointer
}

a:hover.cke_colorauto, a:hover.cke_colormore, a:focus.cke_colorauto, a:focus.cke_colormore, a:active.cke_colorauto, a:active.cke_colormore {
    border: #b6b6b6 1px solid;
    background-color: #e5e5e5
}

.cke_toolbar {
    float: left
}

.cke_rtl .cke_toolbar {
    float: right
}

.cke_toolgroup {
    float: left;
    margin: 0 6px 5px 0;
    border: 1px solid #a6a6a6;
    border-bottom-color: #979797;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #e4e4e4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e4e4e4));
    background-image: -moz-linear-gradient(top, #fff, #e4e4e4);
    background-image: -webkit-linear-gradient(top, #fff, #e4e4e4);
    background-image: -o-linear-gradient(top, #fff, #e4e4e4);
    background-image: -ms-linear-gradient(top, #fff, #e4e4e4);
    background-image: linear-gradient(top, #fff, #e4e4e4);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 0 2px rgba(255, 255, 255, .15) inset, 0 1px 0 rgba(255, 255, 255, .15) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 0 2px rgba(255, 255, 255, .15) inset, 0 1px 0 rgba(255, 255, 255, .15) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 0 2px rgba(255, 255, 255, .15) inset, 0 1px 0 rgba(255, 255, 255, .15) inset;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#ffffff', endColorstr='#e4e4e4')
}

.cke_hc .cke_toolgroup {
    margin-right: 10px;
    margin-bottom: 10px;
    border: 0
}

.cke_rtl .cke_toolgroup {
    float: right;
    margin-right: 0;
    margin-left: 6px
}

a.cke_button {
    display: inline-block;
    float: left;
    padding: 4px 6px;
    height: 18px;
    outline: 0;
    border: 0;
    cursor: default
}

.cke_ltr .cke_button:last-child, .cke_rtl .cke_button:first-child {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0
}

.cke_ltr .cke_button:first-child, .cke_rtl .cke_button:last-child {
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px
}

.cke_rtl .cke_button {
    float: right
}

.cke_hc .cke_button {
    margin: -2px 4px 0 -2px;
    padding: 3px 5px;
    border: 1px solid black
}

.cke_button_on {
    background: #b5b5b5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#cacaca));
    background-image: -moz-linear-gradient(top, #aaa, #cacaca);
    background-image: -webkit-linear-gradient(top, #aaa, #cacaca);
    background-image: -o-linear-gradient(top, #aaa, #cacaca);
    background-image: -ms-linear-gradient(top, #aaa, #cacaca);
    background-image: linear-gradient(top, #aaa, #cacaca);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .6) inset, 0 1px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .6) inset, 0 1px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .6) inset, 0 1px 0 rgba(0, 0, 0, .2);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#aaaaaa', endColorstr='#cacaca')
}

.cke_hc .cke_button_on, .cke_hc a.cke_button_off:hover, .cke_hc a.cke_button_off:focus, .cke_hc a.cke_button_off:active, .cke_hc a.cke_button_disabled:hover, .cke_hc a.cke_button_disabled:focus, .cke_hc a.cke_button_disabled:active {
    padding: 1px 3px;
    border-width: 3px
}

.cke_button_disabled .cke_button_icon {
    opacity: .3
}

.cke_hc .cke_button_disabled {
    opacity: .5
}

a.cke_button_on:hover, a.cke_button_on:focus, a.cke_button_on:active {
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .7) inset, 0 1px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, .7) inset, 0 1px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .7) inset, 0 1px 0 rgba(0, 0, 0, .2)
}

a.cke_button_off:hover, a.cke_button_off:focus, a.cke_button_off:active, a.cke_button_disabled:hover, a.cke_button_disabled:focus, a.cke_button_disabled:active {
    background: #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ccc));
    background-image: -moz-linear-gradient(top, #f2f2f2, #ccc);
    background-image: -webkit-linear-gradient(top, #f2f2f2, #ccc);
    background-image: -o-linear-gradient(top, #f2f2f2, #ccc);
    background-image: -ms-linear-gradient(top, #f2f2f2, #ccc);
    background-image: linear-gradient(top, #f2f2f2, #ccc);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .3) inset;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3) inset;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#f2f2f2', endColorstr='#cccccc')
}

.cke_button_icon {
    display: inline-block;
    float: left;
    margin-top: 1px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    cursor: inherit
}

.cke_rtl .cke_button_icon {
    float: right
}

.cke_hc .cke_button_icon {
    display: none
}

.cke_button_label {
    display: none;
    float: left;
    margin-top: 1px;
    padding-left: 3px;
    color: #474747;
    vertical-align: middle;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    line-height: 17px;
    cursor: default
}

.cke_rtl .cke_button_label {
    float: right;
    padding-right: 3px;
    padding-left: 0
}

.cke_hc .cke_button_label {
    display: inline-block;
    padding: 0;
    font-size: 12px
}

.cke_button_arrow {
    display: inline-block;
    margin: 8px 0 0 1px;
    width: 0;
    height: 0;
    border-top: 3px solid #474747;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    vertical-align: top;
    cursor: default
}

.cke_rtl .cke_button_arrow {
    margin-right: 5px;
    margin-left: 0
}

.cke_hc .cke_button_arrow {
    margin: 3px -2px 0 3px;
    width: auto;
    border: 0;
    font-size: 10px
}

.cke_toolbar_separator {
    float: left;
    margin: 5px 2px 0;
    width: 1px;
    height: 18px;
    background-color: #c0c0c0;
    background-color: rgba(0, 0, 0, .2);
    -webkit-box-shadow: 1px 0 1px rgba(255, 255, 255, .5);
    -moz-box-shadow: 1px 0 1px rgba(255, 255, 255, .5);
    box-shadow: 1px 0 1px rgba(255, 255, 255, .5)
}

.cke_rtl .cke_toolbar_separator {
    float: right;
    -webkit-box-shadow: -1px 0 1px rgba(255, 255, 255, .1);
    -moz-box-shadow: -1px 0 1px rgba(255, 255, 255, .1);
    box-shadow: -1px 0 1px rgba(255, 255, 255, .1)
}

.cke_hc .cke_toolbar_separator {
    margin: 1px 5px 0 0;
    width: 0;
    border-left: 1px solid
}

.cke_toolbar_break {
    display: block;
    clear: left
}

.cke_rtl .cke_toolbar_break {
    clear: right
}

.cke_toolbox_collapser {
    float: right;
    margin: 11px 0 0;
    width: 12px;
    height: 11px;
    border: 1px solid #a6a6a6;
    border-bottom-color: #979797;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #e4e4e4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e4e4e4));
    background-image: -moz-linear-gradient(top, #fff, #e4e4e4);
    background-image: -webkit-linear-gradient(top, #fff, #e4e4e4);
    background-image: -o-linear-gradient(top, #fff, #e4e4e4);
    background-image: -ms-linear-gradient(top, #fff, #e4e4e4);
    background-image: linear-gradient(top, #fff, #e4e4e4);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 0 2px rgba(255, 255, 255, .15) inset, 0 1px 0 rgba(255, 255, 255, .15) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 0 2px rgba(255, 255, 255, .15) inset, 0 1px 0 rgba(255, 255, 255, .15) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 0 2px rgba(255, 255, 255, .15) inset, 0 1px 0 rgba(255, 255, 255, .15) inset;
    text-align: center;
    font-size: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#ffffff', endColorstr='#e4e4e4');
    cursor: default
}

.cke_toolbox_collapser:hover {
    background: #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ccc));
    background-image: -moz-linear-gradient(top, #f2f2f2, #ccc);
    background-image: -webkit-linear-gradient(top, #f2f2f2, #ccc);
    background-image: -o-linear-gradient(top, #f2f2f2, #ccc);
    background-image: -ms-linear-gradient(top, #f2f2f2, #ccc);
    background-image: linear-gradient(top, #f2f2f2, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#f2f2f2', endColorstr='#cccccc')
}

.cke_toolbox_collapser.cke_toolbox_collapser_min {
    margin: 0 2px 4px
}

.cke_rtl .cke_toolbox_collapser {
    float: left
}

.cke_toolbox_collapser .cke_arrow {
    display: inline-block;
    margin-top: 1px;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #474747;
    border-left: 3px solid transparent;
    font-size: 0
}

.cke_toolbox_collapser.cke_toolbox_collapser_min .cke_arrow {
    margin-top: 4px;
    border-top-color: #474747;
    border-bottom-color: transparent
}

.cke_hc .cke_toolbox_collapser .cke_arrow {
    margin-top: 0;
    margin-right: 2px;
    width: auto;
    border: 0;
    font-size: 8px
}

.cke_menubutton {
    display: block
}

.cke_menuitem span {
    cursor: default
}

.cke_menubutton:hover, .cke_menubutton:focus, .cke_menubutton:active {
    display: block;
    background-color: #d3d3d3
}

.cke_hc .cke_menubutton {
    padding: 2px
}

.cke_hc .cke_menubutton:hover, .cke_hc .cke_menubutton:focus, .cke_hc .cke_menubutton:active {
    padding: 0;
    border: 2px solid
}

.cke_menubutton_inner {
    display: table-row
}

.cke_menubutton_icon, .cke_menubutton_label, .cke_menuarrow {
    display: table-cell
}

.cke_menubutton_icon {
    padding: 4px;
    background-color: #d7d8d7;
    opacity: .70;
    filter: alpha(opacity=70)
}

.cke_hc .cke_menubutton_icon {
    padding: 4px 0;
    width: 0;
    height: 16px
}

.cke_menubutton:hover .cke_menubutton_icon, .cke_menubutton:focus .cke_menubutton_icon, .cke_menubutton:active .cke_menubutton_icon {
    background-color: #d0d2d0
}

.cke_menubutton_disabled:hover .cke_menubutton_icon, .cke_menubutton_disabled:focus .cke_menubutton_icon, .cke_menubutton_disabled:active .cke_menubutton_icon {
    opacity: .3;
    filter: alpha(opacity=30)
}

.cke_menubutton_label {
    padding: 0 5px;
    width: 100%;
    background-color: transparent;
    vertical-align: middle
}

.cke_menubutton_disabled .cke_menubutton_label {
    opacity: .3;
    filter: alpha(opacity=30)
}

.cke_menubutton_on {
    border: 1px solid #dedede;
    background-color: #f2f2f2;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .1) inset;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .1) inset;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1) inset
}

.cke_menubutton_on .cke_menubutton_icon {
    padding-right: 3px
}

.cke_menubutton:hover, .cke_menubutton:focus, .cke_menubutton:active {
    background-color: #eff0ef
}

.cke_panel_frame .cke_menubutton_label {
    display: none
}

.cke_menuseparator {
    height: 1px;
    background-color: #d3d3d3;
    opacity: .70;
    filter: alpha(opacity=70)
}

.cke_menuarrow {
    padding: 0 5px;
    background-image: url(images/arrow.png);
    background-position: 0 10px;
    background-repeat: no-repeat
}

.cke_rtl .cke_menuarrow {
    background-position: 5px -13px;
    background-repeat: no-repeat
}

.cke_menuarrow span {
    display: none
}

.cke_hc .cke_menuarrow span {
    display: inline;
    vertical-align: middle
}

.cke_combo {
    display: inline-block;
    float: left
}

.cke_rtl .cke_combo {
    float: right
}

.cke_hc .cke_combo {
    margin-top: -2px
}

.cke_combo_label {
    display: none;
    float: left;
    margin-right: 5px;
    vertical-align: top;
    line-height: 26px
}

.cke_rtl .cke_combo_label {
    float: right;
    margin-right: 0;
    margin-left: 5px
}

.cke_combo_button {
    display: inline-block;
    float: left;
    margin: 0 6px 5px 0;
    border: 1px solid #a6a6a6;
    border-bottom-color: #979797;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #e4e4e4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e4e4e4));
    background-image: -moz-linear-gradient(top, #fff, #e4e4e4);
    background-image: -webkit-linear-gradient(top, #fff, #e4e4e4);
    background-image: -o-linear-gradient(top, #fff, #e4e4e4);
    background-image: -ms-linear-gradient(top, #fff, #e4e4e4);
    background-image: linear-gradient(top, #fff, #e4e4e4);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 0 2px rgba(255, 255, 255, .15) inset, 0 1px 0 rgba(255, 255, 255, .15) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 0 2px rgba(255, 255, 255, .15) inset, 0 1px 0 rgba(255, 255, 255, .15) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 0 2px rgba(255, 255, 255, .15) inset, 0 1px 0 rgba(255, 255, 255, .15) inset;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#ffffff', endColorstr='#e4e4e4');
    cursor: default
}

.cke_combo_off a.cke_combo_button:hover, .cke_combo_off a.cke_combo_button:focus {
    outline: 0;
    background: #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ccc));
    background-image: -moz-linear-gradient(top, #f2f2f2, #ccc);
    background-image: -webkit-linear-gradient(top, #f2f2f2, #ccc);
    background-image: -o-linear-gradient(top, #f2f2f2, #ccc);
    background-image: -ms-linear-gradient(top, #f2f2f2, #ccc);
    background-image: linear-gradient(top, #f2f2f2, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#f2f2f2', endColorstr='#cccccc')
}

.cke_combo_off a.cke_combo_button:active, .cke_combo_on a.cke_combo_button {
    border: 1px solid #777;
    background: #b5b5b5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#cacaca));
    background-image: -moz-linear-gradient(top, #aaa, #cacaca);
    background-image: -webkit-linear-gradient(top, #aaa, #cacaca);
    background-image: -o-linear-gradient(top, #aaa, #cacaca);
    background-image: -ms-linear-gradient(top, #aaa, #cacaca);
    background-image: linear-gradient(top, #aaa, #cacaca);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 5px rgba(0, 0, 0, .6) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 5px rgba(0, 0, 0, .6) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 5px rgba(0, 0, 0, .6) inset;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#aaaaaa', endColorstr='#cacaca')
}

.cke_combo_on a.cke_combo_button:hover, .cke_combo_on a.cke_combo_button:focus, .cke_combo_on a.cke_combo_button:active {
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .7) inset, 0 1px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, .7) inset, 0 1px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .7) inset, 0 1px 0 rgba(0, 0, 0, .2)
}

.cke_rtl .cke_combo_button {
    float: right;
    margin-right: 0;
    margin-left: 5px
}

.cke_hc a.cke_combo_button {
    padding: 3px
}

.cke_hc .cke_combo_on a.cke_combo_button, .cke_hc .cke_combo_off a.cke_combo_button:hover, .cke_hc .cke_combo_off a.cke_combo_button:focus, .cke_hc .cke_combo_off a.cke_combo_button:active {
    padding: 1px;
    border-width: 3px
}

.cke_combo_text {
    float: left;
    overflow: hidden;
    padding-left: 10px;
    width: 60px;
    color: #474747;
    text-overflow: ellipsis;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    line-height: 26px;
    cursor: default
}

.cke_rtl .cke_combo_text {
    float: right;
    padding-right: 10px;
    padding-left: 0;
    text-align: right
}

.cke_hc .cke_combo_text {
    font-size: 12px;
    line-height: 18px
}

.cke_combo_open {
    display: inline-block;
    margin: 1px 7px 1px;
    width: 5px;
    height: 19px;
    font-size: 0;
    line-height: 17px;
    cursor: default
}

.cke_hc .cke_combo_open {
    height: 12px
}

.cke_combo_arrow {
    float: left;
    margin: 11px 0 0;
    width: 0;
    height: 0;
    border-top: 3px solid #474747;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    font-size: 0;
    cursor: default
}

.cke_hc .cke_combo_arrow {
    margin-top: 3px;
    width: auto;
    border: 0;
    font-size: 10px
}

.cke_combo_disabled .cke_combo_inlinelabel, .cke_combo_disabled .cke_combo_open {
    opacity: .3
}

.cke_path {
    float: left;
    margin: -2px 0 2px
}

.cke_path_item, .cke_path_empty {
    display: inline-block;
    float: left;
    margin-right: 2px;
    padding: 3px 4px;
    outline: 0;
    border: 0;
    color: #4c4c4c;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
    font-size: 11px;
    cursor: default
}

.cke_rtl .cke_path, .cke_rtl .cke_path_item, .cke_rtl .cke_path_empty {
    float: right
}

a.cke_path_item:hover, a.cke_path_item:focus, a.cke_path_item:active {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #bfbfbf;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .5) inset, 0 1px 0 rgba(255, 255, 255, .5);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .5) inset, 0 1px 0 rgba(255, 255, 255, .5);
    box-shadow: 0 0 4px rgba(0, 0, 0, .5) inset, 0 1px 0 rgba(255, 255, 255, .5);
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5)
}

.cke_hc a.cke_path_item:hover, .cke_hc a.cke_path_item:focus, .cke_hc a.cke_path_item:active {
    padding: 1px 2px;
    border: 2px solid
}

.cke_button__source_label, .cke_button__sourcedialog_label {
    display: inline
}

.cke_combo__fontsize .cke_combo_text {
    width: 30px
}

.cke_combopanel__fontsize {
    width: 120px
}

.cke_source {
    background-color: #fff;
    white-space: pre;
    font-size: small;
    font-family: 'Courier New', Monospace
}

.cke_wysiwyg_frame, .cke_wysiwyg_div {
    background-color: #fff
}

.cke_chrome {
    visibility: inherit
}

.cke_voice_label {
    display: none
}

legend.cke_voice_label {
    display: none
}

a.cke_button_disabled, a.cke_button_disabled:hover, a.cke_button_disabled:focus, a.cke_button_disabled:active {
    filter: alpha(opacity=30)
}

.cke_button_disabled .cke_button_icon {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff, endColorstr=#00ffffff)
}

.cke_button_off:hover, .cke_button_off:focus, .cke_button_off:active {
    filter: alpha(opacity=100)
}

.cke_combo_disabled .cke_combo_inlinelabel, .cke_combo_disabled .cke_combo_open {
    filter: alpha(opacity=30)
}

.cke_toolbox_collapser {
    border: 1px solid #a6a6a6
}

.cke_toolbox_collapser .cke_arrow {
    margin-top: 1px
}

.cke_hc .cke_top, .cke_hc .cke_bottom, .cke_hc .cke_combo_button, .cke_hc a.cke_combo_button:hover, .cke_hc a.cke_combo_button:focus, .cke_hc .cke_toolgroup, .cke_hc .cke_button_on, .cke_hc a.cke_button_off:hover, .cke_hc a.cke_button_off:focus, .cke_hc a.cke_button_off:active, .cke_hc .cke_toolbox_collapser, .cke_hc .cke_toolbox_collapser:hover, .cke_hc .cke_panel_grouptitle {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.cke_rtl .cke_toolgroup, .cke_rtl .cke_toolbar_separator, .cke_rtl .cke_button, .cke_rtl .cke_button *, .cke_rtl .cke_combo, .cke_rtl .cke_combo *, .cke_rtl .cke_path_item, .cke_rtl .cke_path_item *, .cke_rtl .cke_path_empty {
    float: none
}

.cke_rtl .cke_toolgroup, .cke_rtl .cke_toolbar_separator, .cke_rtl .cke_combo_button, .cke_rtl .cke_combo_button *, .cke_rtl .cke_button, .cke_rtl .cke_button_icon {
    display: inline-block;
    vertical-align: top
}

.cke_toolbox {
    display: inline-block;
    padding-bottom: 5px;
    height: 100%
}

.cke_rtl .cke_toolbox {
    padding-bottom: 0
}

.cke_toolbar {
    margin-bottom: 5px
}

.cke_rtl .cke_toolbar {
    margin-bottom: 0
}

.cke_toolgroup {
    height: 26px
}

.cke_toolgroup, .cke_combo {
    position: relative
}

a.cke_button {
    float: none;
    vertical-align: top
}

.cke_toolbar_separator {
    display: inline-block;
    float: none;
    background-color: #c0c0c0;
    vertical-align: top
}

.cke_toolbox_collapser .cke_arrow {
    margin-top: 0
}

.cke_toolbox_collapser .cke_arrow {
    border-width: 4px
}

.cke_toolbox_collapser.cke_toolbox_collapser_min .cke_arrow {
    border-width: 3px
}

.cke_rtl .cke_button_arrow {
    margin-right: 2px;
    padding-top: 8px
}

.cke_rtl .cke_combo_inlinelabel {
    display: table-cell;
    vertical-align: middle
}

.cke_menubutton {
    display: block;
    height: 24px
}

.cke_menubutton_inner {
    position: relative;
    display: block
}

.cke_menubutton_icon {
    width: 16px;
    height: 16px
}

.cke_menubutton_icon, .cke_menubutton_label, .cke_menuarrow {
    display: inline-block
}

.cke_menubutton_label {
    margin: 0 10px 0 0;
    width: auto;
    height: 24px;
    vertical-align: top;
    line-height: 24px
}

.cke_menuarrow {
    position: absolute;
    top: 10px;
    right: 8px;
    padding: 0;
    width: 5px;
    height: 6px;
    background-position: 0 0
}

.cke_rtl .cke_menubutton_icon {
    position: absolute;
    top: 0;
    right: 0
}

.cke_rtl .cke_menubutton_label {
    float: right;
    clear: both;
    margin: 0 24px 0 10px
}

.cke_hc .cke_rtl .cke_menubutton_label {
    margin-right: 0
}

.cke_rtl .cke_menuarrow {
    right: auto;
    left: 8px;
    background-position: 0 -24px
}

.cke_hc .cke_menuarrow {
    top: 5px;
    padding: 0 5px
}

.cke_rtl input.cke_dialog_ui_input_text, .cke_rtl input.cke_dialog_ui_input_password {
    position: relative
}

.cke_wysiwyg_div {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.cke_rtl .cke_button__copy_icon, .cke_mixed_dir_content .cke_rtl .cke_button__copy_icon {
    background: url(icons.png) no-repeat 0 -0px !important;
}

.cke_ltr .cke_button__copy_icon {
    background: url(icons.png) no-repeat 0 -24px !important;
}

.cke_rtl .cke_button__cut_icon, .cke_mixed_dir_content .cke_rtl .cke_button__cut_icon {
    background: url(icons.png) no-repeat 0 -48px !important;
}

.cke_ltr .cke_button__cut_icon {
    background: url(icons.png) no-repeat 0 -72px !important;
}

.cke_rtl .cke_button__paste_icon, .cke_mixed_dir_content .cke_rtl .cke_button__paste_icon {
    background: url(icons.png) no-repeat 0 -96px !important;
}

.cke_ltr .cke_button__paste_icon {
    background: url(icons.png) no-repeat 0 -120px !important;
}

.cke_rtl .cke_button__indent_icon, .cke_mixed_dir_content .cke_rtl .cke_button__indent_icon {
    background: url(icons.png) no-repeat 0 -144px !important;
}

.cke_ltr .cke_button__indent_icon {
    background: url(icons.png) no-repeat 0 -168px !important;
}

.cke_rtl .cke_button__outdent_icon, .cke_mixed_dir_content .cke_rtl .cke_button__outdent_icon {
    background: url(icons.png) no-repeat 0 -192px !important;
}

.cke_ltr .cke_button__outdent_icon {
    background: url(icons.png) no-repeat 0 -216px !important;
}

.cke_rtl .cke_button__bulletedlist_icon, .cke_mixed_dir_content .cke_rtl .cke_button__bulletedlist_icon {
    background: url(icons.png) no-repeat 0 -240px !important;
}

.cke_ltr .cke_button__bulletedlist_icon {
    background: url(icons.png) no-repeat 0 -264px !important;
}

.cke_rtl .cke_button__numberedlist_icon, .cke_mixed_dir_content .cke_rtl .cke_button__numberedlist_icon {
    background: url(icons.png) no-repeat 0 -288px !important;
}

.cke_ltr .cke_button__numberedlist_icon {
    background: url(icons.png) no-repeat 0 -312px !important;
}

.cke_rtl .cke_button__redo_icon, .cke_mixed_dir_content .cke_rtl .cke_button__redo_icon {
    background: url(icons.png) no-repeat 0 -336px !important;
}

.cke_ltr .cke_button__redo_icon {
    background: url(icons.png) no-repeat 0 -360px !important;
}

.cke_rtl .cke_button__undo_icon, .cke_mixed_dir_content .cke_rtl .cke_button__undo_icon {
    background: url(icons.png) no-repeat 0 -384px !important;
}

.cke_ltr .cke_button__undo_icon {
    background: url(icons.png) no-repeat 0 -408px !important;
}

.cke_rtl .cke_button__source_icon, .cke_mixed_dir_content .cke_rtl .cke_button__source_icon {
    background: url(icons.png) no-repeat 0 -432px !important;
}

.cke_ltr .cke_button__source_icon {
    background: url(icons.png) no-repeat 0 -456px !important;
}

.cke_rtl.cke_hidpi .cke_button__copy_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__copy_icon {
    background: url(icons_hidpi.png) no-repeat 0 -0px !important;
    background-size: 16px !important;
}

.cke_hidpi .cke_ltr .cke_button__copy_icon, .cke_ltr.cke_hidpi .cke_button__copy_icon {
    background: url(icons_hidpi.png) no-repeat 0 -24px !important;
    background-size: 16px !important;
}

.cke_rtl.cke_hidpi .cke_button__cut_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__cut_icon {
    background: url(icons_hidpi.png) no-repeat 0 -48px !important;
    background-size: 16px !important;
}

.cke_hidpi .cke_ltr .cke_button__cut_icon, .cke_ltr.cke_hidpi .cke_button__cut_icon {
    background: url(icons_hidpi.png) no-repeat 0 -72px !important;
    background-size: 16px !important;
}

.cke_rtl.cke_hidpi .cke_button__paste_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__paste_icon {
    background: url(icons_hidpi.png) no-repeat 0 -96px !important;
    background-size: 16px !important;
}

.cke_hidpi .cke_ltr .cke_button__paste_icon, .cke_ltr.cke_hidpi .cke_button__paste_icon {
    background: url(icons_hidpi.png) no-repeat 0 -120px !important;
    background-size: 16px !important;
}

.cke_rtl.cke_hidpi .cke_button__indent_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__indent_icon {
    background: url(icons_hidpi.png) no-repeat 0 -144px !important;
    background-size: 16px !important;
}

.cke_hidpi .cke_ltr .cke_button__indent_icon, .cke_ltr.cke_hidpi .cke_button__indent_icon {
    background: url(icons_hidpi.png) no-repeat 0 -168px !important;
    background-size: 16px !important;
}

.cke_rtl.cke_hidpi .cke_button__outdent_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__outdent_icon {
    background: url(icons_hidpi.png) no-repeat 0 -192px !important;
    background-size: 16px !important;
}

.cke_hidpi .cke_ltr .cke_button__outdent_icon, .cke_ltr.cke_hidpi .cke_button__outdent_icon {
    background: url(icons_hidpi.png) no-repeat 0 -216px !important;
    background-size: 16px !important;
}

.cke_rtl.cke_hidpi .cke_button__bulletedlist_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__bulletedlist_icon {
    background: url(icons_hidpi.png) no-repeat 0 -240px !important;
    background-size: 16px !important;
}

.cke_hidpi .cke_ltr .cke_button__bulletedlist_icon, .cke_ltr.cke_hidpi .cke_button__bulletedlist_icon {
    background: url(icons_hidpi.png) no-repeat 0 -264px !important;
    background-size: 16px !important;
}

.cke_rtl.cke_hidpi .cke_button__numberedlist_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__numberedlist_icon {
    background: url(icons_hidpi.png) no-repeat 0 -288px !important;
    background-size: 16px !important;
}

.cke_hidpi .cke_ltr .cke_button__numberedlist_icon, .cke_ltr.cke_hidpi .cke_button__numberedlist_icon {
    background: url(icons_hidpi.png) no-repeat 0 -312px !important;
    background-size: 16px !important;
}

.cke_rtl.cke_hidpi .cke_button__redo_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__redo_icon {
    background: url(icons_hidpi.png) no-repeat 0 -336px !important;
    background-size: 16px !important;
}

.cke_hidpi .cke_ltr .cke_button__redo_icon, .cke_ltr.cke_hidpi .cke_button__redo_icon {
    background: url(icons_hidpi.png) no-repeat 0 -360px !important;
    background-size: 16px !important;
}

.cke_rtl.cke_hidpi .cke_button__undo_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__undo_icon {
    background: url(icons_hidpi.png) no-repeat 0 -384px !important;
    background-size: 16px !important;
}

.cke_hidpi .cke_ltr .cke_button__undo_icon, .cke_ltr.cke_hidpi .cke_button__undo_icon {
    background: url(icons_hidpi.png) no-repeat 0 -408px !important;
    background-size: 16px !important;
}

.cke_rtl.cke_hidpi .cke_button__source_icon, .cke_hidpi .cke_mixed_dir_content .cke_rtl .cke_button__source_icon {
    background: url(icons_hidpi.png) no-repeat 0 -432px !important;
    background-size: 16px !important;
}

.cke_hidpi .cke_ltr .cke_button__source_icon, .cke_ltr.cke_hidpi .cke_button__source_icon {
    background: url(icons_hidpi.png) no-repeat 0 -456px !important;
    background-size: 16px !important;
}