<fieldset>
    <h3>Распоряжение</h3>

    <table class="form-table fill">
        <tr>
            <th><label for="id-number">Номер</label></th>
            <td><input type="text" id="id-number" name="number"/></td>
            <th class="narrow"><label for="id-number-date">от</label></th>
            <td><input type="text" id="id-number-date" name="number-date" class="datepicker" placeholder="дд.мм.гггг"/>
            </td>
        </tr>
    </table>

    <table class="form-table fill">
        <tr>
            <th><label for="id-subject">Заголовок</label></th>
            <td><input type="text" id="id-subject" name="subject"/></td>
        </tr>
    </table>
</fieldset>

<fieldset>
    <h3>Констатирующая часть</h3>

    <textarea id="id-facts" name="facts" rows="10" class="ckeditor"></textarea>
</fieldset>

<fieldset>
    <h3>Распорядительная часть</h3>

    <table class="form-table">
        <tr>
            <td>
                <select name="orders_heading">
                    <option value="ОБЯЗЫВАЮ:">ОБЯЗЫВАЮ:</option>
                    <option value="ПРЕДЛАГАЮ:">ПРЕДЛАГАЮ:</option>
                </select>
            </td>
        </tr>
    </table>

    <textarea id="id-orders" name="orders" rows="20" class="ckeditor"></textarea>
</fieldset>

<!--<fieldset id="app" class="template">-->
<!--<h3>Приложение №<span class="clone-number"></span></h3>-->

<!--<div class="clone-delete">×</div>-->

<!--<table class="form-table">-->
<!--<tr>-->
<!--<th style="width:20%;"><label>Наименование</label></th>-->
<!--<td colspan="3" style="width:80%;"><input type="text" name="app-name[]"/></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<th style="width:10%;"><label>Объём</label></th>-->
<!--<td style="width:40%;"><input type="text" name="app-volume[]" placeholder="листов"/></td>-->
<!--<th style="width:10%;"><label>Копии</label></th>-->
<!--<td style="width:40%;"><input type="text" name="app-copies[]" placeholder="экземпляров"/></td>-->
<!--</tr>-->
<!--</table>-->

<!--</fieldset>-->

<!--<fieldset class="clone" data-template="#app">-->
<!--<h3>Приложение №<span class="clone-number">1</span></h3>-->

<!--<table class="form-table">-->
<!--<tr>-->
<!--<th style="width:20%;"><label>Наименование</label></th>-->
<!--<td colspan="3" style="width:80%;"><input type="text" name="app-name[]"/></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<th style="width:10%;"><label>Объём</label></th>-->
<!--<td style="width:40%;"><input type="text" name="app-volume[]" placeholder="листов"/></td>-->
<!--<th style="width:10%;"><label>Копии</label></th>-->
<!--<td style="width:40%;"><input type="text" name="app-copies[]" placeholder="экземпляров"/></td>-->
<!--</tr>-->
<!--</table>-->

<!--</fieldset>-->

<!--<a href="#" class="clone-link" data-template="#app" data-next="1">+ добавить приложение</a>-->

<fieldset>
    <h3>Подпись</h3>

    <table class="form-table">
        <tr>
            <th><label for="id-signee-name">Имя Отчество Фамилия</label></th>
            <td class="long"><input type="text" id="id-signee-name" name="signee-name"/></td>
        </tr>
        <tr>
            <th><label for="id-signee-position">Должность</label></th>
            <td><input type="text" id="id-signee-position" name="signee-position"/></td>
        </tr>
    </table>
</fieldset>
