<fieldset>
    <h3>Кому</h3>

    <table class="form-table">
        <tr>
            <th><label for="id-receiver-position">Должность</label></th>
            <td class="long"><input type="text" id="id-receiver-position" name="receiver-position"
                                    placeholder="(в дательном падеже)"/></td>
        </tr>
        <tr>
            <th><label for="id-receiver-company">Компания</label></th>
            <td><input type="text" id="id-receiver-company" name="receiver-company"/></td>
        </tr>
        <tr>
            <th><label for="id-receiver-name">И. О. Фамилия</label></th>
            <td><input type="text" id="id-receiver-name" name="receiver-name" placeholder="(в дательном падеже)"/></td>
        </tr>
    </table>
</fieldset>

<fieldset>
    <h3>Документ</h3>
    <table class="form-table fill">
        <!--<tr>-->
        <!--<th><label for="id-number">Номер</label></th>-->
        <!--<td><input type="text" id="id-number" name="number"/></td>-->
        <!--<th class="narrow"><label for="id-number-date">от</label></th>-->
        <!--<td><input type="text" id="id-number-date" name="number-date" class="datepicker" placeholder="дд.мм.гггг"/></td>-->
        <!--</tr>-->
        <tr>
            <th><label for="id-reply-number">На номер</label></th>
            <td><input type="text" id="id-reply-number" name="reply-number"/></td>
            <th class="narrow"><label for="id-reply-number-date">от</label></th>
            <td><input type="text" id="id-reply-number-date" name="reply-number-date" class="datepicker"
                       placeholder="дд.мм.гггг"/></td>
        </tr>
        </div>
    </table>

    <table class="form-table fill">
        <tr>
            <th><label for="id-subject">Заголовок</label></th>
            <td><input type="text" id="id-subject" name="subject"/></td>
        </tr>
        <tr>
            <th><label for="id-greeting">Обращение</label></th>
            <td><input type="text" id="id-greeting" name="greeting"/></td>
        </tr>
    </table>

    <textarea id="id-body" name="body" rows="20" class="ckeditor"></textarea>
</fieldset>

<fieldset id="signee" class="template">
    <h3>Подпись №<span class="clone-number"></span></h3>

    <div class="clone-delete">×</div>

    <table class="form-table">
        <tr>
            <th><label for="id-signee-name[]">Имя Отчество Фамилия</label></th>
            <td class="long"><input type="text" id="id-signee-name[]" name="signee-name[]"/></td>
        </tr>
        <tr>
            <th><label for="id-signee-position[]">Должность</label></th>
            <td><input type="text" id="id-signee-position[]" name="signee-position[]"/></td>
        </tr>
    </table>
</fieldset>

<fieldset id="app" class="template">
    <h3>Приложение №<span class="clone-number"></span></h3>

    <div class="clone-delete">×</div>

    <table class="form-table">
        <tr>
            <th style="width:20%;"><label>Наименование</label></th>
            <td colspan="3" style="width:80%;"><input type="text" name="app-name[]"/></td>
        </tr>
        <tr>
            <th style="width:10%;"><label>Объём</label></th>
            <td style="width:40%;"><input type="text" name="app-volume[]" placeholder="листов"/></td>
            <th style="width:10%;"><label>Копии</label></th>
            <td style="width:40%;"><input type="text" name="app-copies[]" placeholder="экземпляров"/></td>
        </tr>
    </table>

</fieldset>

<fieldset class="clone" data-template="#app">
    <h3>Приложение №<span class="clone-number">1</span></h3>

    <table class="form-table">
        <tr>
            <th style="width:20%;"><label>Наименование</label></th>
            <td colspan="3" style="width:80%;"><input type="text" name="app-name[]"/></td>
        </tr>
        <tr>
            <th style="width:10%;"><label>Объём</label></th>
            <td style="width:40%;"><input type="text" name="app-volume[]" placeholder="листов"/></td>
            <th style="width:10%;"><label>Копии</label></th>
            <td style="width:40%;"><input type="text" name="app-copies[]" placeholder="экземпляров"/></td>
        </tr>
    </table>

</fieldset>

<a href="#" class="clone-link" data-template="#app" data-next="1">+ добавить приложение</a>

<fieldset class="clone" data-template="#signee">
    <h3>Подпись №<span class="clone-number">1</span></h3>

    <table class="form-table">
        <tr>
            <th><label for="id-signee-name[]">Имя Отчество Фамилия</label></th>
            <td class="long"><input type="text" id="id-signee-name[]" name="signee-name[]"/></td>
        </tr>
        <tr>
            <th><label for="id-signee-position[]">Должность</label></th>
            <td><input type="text" id="id-signee-position[]" name="signee-position[]"/></td>
        </tr>
    </table>

</fieldset>

<a href="#" class="clone-link" data-template="#signee" data-next="1">+ добавить подпись</a>

<fieldset id="agreed" class="template">
    <h3>Согласовано №<span class="clone-number"></span></h3>

    <div class="clone-delete">×</div>

    <table class="form-table">
        <tr>
            <th><label for="id-approve-name[]">Имя Отчество Фамилия</label></th>
            <td class="long"><input type="text" id="id-approve-name[]" name="approve-name[]"/></td>
        </tr>
        <tr>
            <th><label for="id-approve-position[]">Должность</label></th>
            <td><input type="text" id="id-approve-position[]" name="approve-position[]"/></td>
        </tr>
        <tr>
            <th><label>Дата</label></th>
            <td><input type="text" name="approve-date[]" class="datepick" placeholder="дд.мм.гггг"/></td>
        </tr>
    </table>
</fieldset>

<fieldset class="clone" data-template="#agreed">
    <h3>Согласовано №<span class="clone-number">1</span></h3>

    <table class="form-table">
        <tr>
            <th><label for="id-approve-name[]">Имя Отчество Фамилия</label></th>
            <td class="long"><input type="text" id="id-approve-name[]" name="approve-name[]"/></td>
        </tr>
        <tr>
            <th><label for="id-approve-position[]">Должность</label></th>
            <td><input type="text" id="id-approve-position[]" name="approve-position[]"/></td>
        </tr>
        <tr>
            <th><label>Дата</label></th>
            <td><input type="text" name="approve-date[]" class="datepicker" placeholder="дд.мм.гггг"/></td>
        </tr>
    </table>
</fieldset>

<a href="#" class="clone-link" data-template="#agreed" data-next="1">+ добавить согласовано</a>

<!--<fieldset>-->
<!--<h3>Согласовано №2</h3>-->

<!--<table class="form-table">-->
<!--<tr>-->
<!--<th><label for="id-approve-2-name">ФИО</label></th>-->
<!--<td class="long"><input type="text" id="id-approve-2-name" name="approve-2-name"/></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<th><label for="id-approve-2-position">Должность</label></th>-->
<!--<td><input type="text" id="id-approve-2-position" name="approve-2-position"/></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<th><label for="id-approve-2-date">Дата</label></th>-->
<!--<td><input type="text" id="id-approve-2-date" name="approve-2-date" class="datepicker" placeholder="дд.мм.гггг"/></td>-->
<!--</tr>-->
<!--</table>-->
<!--</fieldset>-->


<fieldset>
    <h3>Исполнитель</h3>

    <table class="form-table">
        <tr>
            <th><label for="id-executive-name">И.О. Фамилия</label></th>
            <td><input type="text" id="id-executive-name" name="executive-name"/></td>
        </tr>
        <tr>
            <th><label for="id-executive-phone">Телефон</label></th>
            <td><input type="text" id="id-executive-phone" name="executive-phone"/></td>
        </tr>
    </table>
</fieldset>
