<fieldset>
    <h3>Протокол</h3>

    <table class="form-table fill">
        <!--<tr>-->
        <!--<th><label for="id-number">Номер</label></th>-->
        <!--<td><input type="text" id="id-number" name="number"/></td>-->
        <!--<th class="narrow"><label for="id-number-date">от</label></th>-->
        <!--<td><input type="text" id="id-number-date" name="number-date" class="datepicker" placeholder="дд.мм.гггг"/></td>-->
        <!--</tr>-->

        <tr>
            <th><label for="id-subject">Заголовок</label></th>
            <td colspan="3"><input type="text" id="id-subject" name="subject"/></td>
        </tr>

        <tr>
            <th><label for="id-time">Время</label></th>
            <td><input type="text" id="id-time" name="time" placeholder="чч:мм"/></td>
            <th class="narrow"><label for="id-place">Место</label></th>
            <td><input type="text" id="id-place" name="place"/></td>
        </tr>

        <tr>
            <th><label for="id-chairman-name">Председатель</label></th>
            <td><input type="text" id="id-chairman-name" name="chairman-name" placeholder="И. О. Фамилия"/></td>
            <th class="narrow"><label for="id-chairman-position">Должность</label></th>
            <td><input type="text" id="id-chairman-position" name="chairman-position"/></td>
        </tr>
        <tr>
            <th><label for="id-secretary">Секретарь</label></th>
            <td colspan="3"><input type="text" id="id-secretary" name="secretary" placeholder="И. О. Фамилия"/></td>
        </tr>
        <tr>
            <th><label for="id-attendants">Присутствовали</label></th>
            <td colspan="3"><input type="text" id="id-attendants" name="attendants"
                                   placeholder="И. О. Фамилии, И. О. Фамилия, ..."/></td>
        </tr>
    </table>
</fieldset>

<fieldset>
    <h3>Повестка дня</h3>

    <textarea id="id-agenda" name="agenda" rows="10" class="ckeditor"></textarea>
</fieldset>

<fieldset>
    <p>Слушали</p>
    <p><textarea id="id-hear" name="hear" rows="20" class="ckeditor"></textarea></p>
    <p>Выступили</p>
    <p><textarea id="id-talk" name="talk" rows="20" class="ckeditor"></textarea></p>
    <p>Решили</p>
    <p><textarea id="id-result" name="result" rows="20" class="ckeditor"></textarea></p>
</fieldset>

<fieldset>
    <h3>Подпись</h3>

    <table class="form-table">
        <tr>
            <th><label for="id-signee-1-name">Имя Отчество Фамилия</label></th>
            <td class="long"><input type="text" id="id-signee-1-name" name="signee-1-name"/></td>
        </tr>
        <tr>
            <th><label for="id-signee-1-position">Должность</label></th>
            <td><input type="text" id="id-signee-1-position" name="signee-1-position"/></td>
        </tr>
    </table>
</fieldset>

<fieldset>
    <h3>Секретарь</h3>

    <table class="form-table">
        <tr>
            <th><label for="id-signee-2-name">Имя Отчество Фамилия</label></th>
            <td class="long"><input type="text" id="id-signee-2-name" name="signee-2-name"/></td>
        </tr>
        <tr>
            <th><label for="id-signee-2-position">Должность</label></th>
            <td><input type="text" id="id-signee-2-position" name="signee-2-position"/></td>
        </tr>
    </table>
</fieldset>
